<nav class="top-bar green-border">
    <div class="row" style="width: 970px;">
      <div class="large-4 columns">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name menu-icon">
            <!-- <h1><a href="#">Team Blog</a></h1> -->
            <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/img/logo.png"></a>

            <video controls="" autoplay="" name="media" style="display:none;"><source src="http://sola-lufkin.github.io/blog/assets/music/Gangnam_Style.mp3" type="audio/mpeg"></video>
            
          </li>
        </ul>
      </div>
      <!-- <div class="large-5 large-offset-4 columns">
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-form"><a class="button alert radius" href="#">Sign up</a></li>
          </ul>
        </scetion>
      </div> -->
    </div>
</nav>